<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>404 - No encontrado</title>
  <link rel="stylesheet" href="/css/style.css">
  </style>
</head>
<body>
  <h1>404 - Página no encontrada</h1>
  <p><%= mensaje || 'La página que buscás no existe o el superhéroe no fue encontrado.' %></p>
  <a href="/heroes/api">Volver al dashboard</a>
</body>
</html>
