<nav class="navbar">
  <div class="navbar-logo">
    <img src="/img/logo.png" alt="Logo" class="icon-navbar">
  </div>
  <ul class="navbar-menu">
    <li><a href="/">INICIO</a></li>
    <li><a href="/heroes/api">SUPERHÉROES</a></li>
    <li><a href="/heroes/formulario/agregar">AGREGAR SUPERHÉROES</a></li>
    <li><a href="/#sobre">NOSOTROS</a></li>
    <li><a href="/#contacto">CONTACTO</a></li>
  </ul>
</nav>



  