<nav class="navbar" >
  <ul class="navbar-menu" style="display: flex; gap: 1rem; list-style: none; margin: 0; padding: 0;">
    <li><a href="/" style="color: white;">INICIO</a></li>
    <li><a href="/heroes/api" style="color: white;">SUPERHÉROES</a></li>
    <li><a href="/heroes/formulario/agregar" style="color: white;">AGREGAR SUPERHÉROES</a></li>
    <li><a href="/#sobre" style="color: white;">NOSOTROS</a></li>
    <li><a href="/#contacto" style="color: white;">CONTACTO</a></li>
  </ul>
</nav>


  